body {
  background-color: #d7dcde;
  font-family: 'Spectral', serif;
  margin: 0 auto;
}

header {
  font-family: 'Fredericka the Great', sans-serif;
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
}

.title-cat {
  max-width: 35px;
}

.site-description {
  padding: 1.5rem;
  background-color: #e4e8ea;
  text-align: center;
}

.company-name {
  font-weight: 600;
}

div img {
  max-width: 400px;
}
