body {
  background-color: #d7dcde;
  font-family: 'Spectral', serif;
  margin: 0;
}

header {
  font-family: 'Fredericka the Great', sans-serif;
  text-align: center;
  font-size: 8rem;
  padding: 4rem;
}

.title-cat {
  max-width: 3rem;
}

.site-description {
  padding: 3rem;
  background-color: #e4e8ea;
  text-align: center;
}

.company-name {
  font-weight: 600;
}

.artwork {
  margin: 1rem;
  padding: 2rem;
  text-align: center;
}

.artwork img {
  max-height: 300px;
  padding: 2rem;
  height: 300px;
  width: 300px;
}

.product {
  padding: 1rem;
  max-width: 400px;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 40px;
  background-color: #e4e8ea;
  box-shadow: #777 2px 0 7px;
}

.product-description {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

footer {
  background-color: #acb6bb;
  color: white;
  font-weight: 300;
  padding: 5rem;
  text-align: center;
}

.tel,
.email {
  text-decoration: none;
  color: white;
}

.tel:hover,
.email:hover {
  color: #eaeaea;
}

.product-detail img {
  max-width: 50%;
  margin-left: 5rem;
  display: inline-block;
  padding: 2rem;
}

.box-content {
  max-width: 40%;
  margin: 0;
  display: inline-block;
  padding: 2rem 0 2rem 6rem;
  text-align: center;
}

.artwork-detail-page {
  margin: 4rem;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #e4e8ea;
  box-shadow: #777 2px 0 7px;
}

.product-title-detail h2 {
  padding: 2rem;
  text-align: center;
  border-bottom: 1px solid black;
}

.product-description-detail {
  padding: 1rem;
  display: inline-block;
}

.product-description-size {
  padding: 1rem;
  display: inline-block;
}

.product-description-price {
  padding: 1rem;
  display: inline-block;
}
