body {
  background-color: #d7dcde;
  font-family: 'Spectral', serif;
  margin: 0;
  color: #49545a;
}

header {
  font-family: 'Fredericka the Great', sans-serif;
  text-align: center;
  font-size: 8rem;
  padding: 3rem;
  color: #333;
}

.title-cat {
  max-width: 5rem;
}

.site-description {
  padding: 3rem;
  background-color: #e4e8ea;
  text-align: center;
}

.company-name {
  font-weight: 600;
}

.artwork {
  margin: 1rem;
  padding: 1rem 6rem 1rem 1rem;
  text-align: center;
}

.artwork img {
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.product {
  padding: 1rem;
  max-width: 30%;
  display: inline-block;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 1rem;
  margin: 2rem;
  background-color: #e4e8ea;
  box-shadow: #777 2px 0 7px;
}

.product:hover {
  cursor: pointer;
}

.product-description {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.product-description:hover {
  color: #acb6bb;
}

footer {
  background-color: #acb6bb;
  color: #edeff0;
  font-weight: 300;
  padding: 5rem;
  text-align: center;
}

.tel,
.email {
  text-decoration: none;
  color: #edeff0;
}

.tel:hover,
.email:hover {
  color: #f8f9f9;
  text-decoration: none;
}

.product-detail img {
  max-width: 50%;
  min-width: 40rem;
  margin: 0% 0 5% 5%;
  display: inline-block;
}

.product-details-container {
  max-width: 40%;
  min-width: 40rem;
  margin: 0;
  display: inline-block;
  padding: 2rem 0 2rem 6rem;
  text-align: center;
}

.my-cart,
.artwork-detail-page {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 1rem;
  background-color: #e4e8ea;
  box-shadow: #777 2px 0 7px;
}

.product-title-detail h2 {
  text-align: center;
  border-bottom: 1px solid #333;
}

.product-summary-detail {
  padding: 1rem;
  display: inline-block;
}

.product-size-detail {
  padding: 1rem;
  display: inline-block;
}

.product-price-detail {
  padding: 1rem;
  display: inline-block;
}

.detail-nav-bar {
  display: flex;
  padding: 1rem;
}

.back {
  display: flex;
  text-decoration: none;
  color: #49545a;
  text-align: center;
  font-size: 1.5rem;
}

.back:hover {
  color: #acb6bb;
  cursor: pointer;
}

.cart-glyph {
  display: fixed;
  width: 3rem;
  height: 3rem;
}

.cart-glyph:hover {
  cursor: pointer;
}

.dropdown {
  margin: 0;
}

#quantity {
  max-width: 7rem;
  margin: 1rem;
  border-width: 0;
  border-radius: 0.5rem;
}

.purchase-container {
  display: inline-block;
  padding: 1rem;
}

button {
  display: flex;
  width: 22rem;
  justify-content: center;
  background-color: #acb6bb;
  color: #edeff0;
  border-width: 0;
  border-radius: 0.5rem;
  margin: 1rem;
}

.number-in-cart {
  color: #76878e;
  font-size: 2rem;
  padding: 0.5rem;
}

.cart-nav {
  position: fixed;
  top: 12rem;
  right: 2rem;
}

.cart-headings {
  padding: 2rem;
  text-align: center;
}

.my-cart h2 {
  padding: 2rem;
  text-align: center;
  border-bottom: 1px solid #333;
}

.cart-headings span {
  text-align: center;
  padding: 0 6rem 1rem;
}

.data {
  padding-top: 2rem;
  align-content: center;
}

.data span {
  margin: 5%;
  text-align: left;
}

.go-to-checkout,
.update-quantity {
  max-width: 9rem;
  padding: 0.5rem;
  display: inline-block;
  margin-left: 85%;
}

.cart-data {
  text-align: center;
}

.my-cart-totals {
  text-align: right;
  margin-right: 1rem;
  padding: 1rem;
}

.cart-subtotal,
.cart-taxes,
.cart-total {
  padding: 1rem;
}

.cart-total {
  font-weight: 600;
}

.cart-print img {
  padding: 0;
  max-width: 8rem;
}
